@tailwind base;
@tailwind components;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-100;
        @apply font-sans;
    }
}

@keyframes ripple {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}

.animate-ripple {
    animation: ripple 0.8s ease-out;
}

@layer components {
    .btn {
        @apply px-4 py-2 rounded font-medium cursor-pointer;
    }

    .btn-primary {
        @apply bg-green-500 text-white hover:bg-green-600;
    }

    .btn-secondary {
        @apply bg-blue-500 text-white hover:bg-blue-600;
    }

    .btn-danger {
        @apply bg-red-500 text-white hover:bg-red-600;
    }
}